name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: latest

      - uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: true

      - run: node test-color.js
        env:
          FORCE_COLOR: 1

      # When use "pnpm run test", don't add "--".
      - run: pnpm test -- --coverage
        env:
          # Some tests assert the colored output.
          # https://github.com/nodejs/node/issues/57998
          FORCE_COLOR: 1
          NODE_OPTIONS: --experimental-vm-modules

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
